<header>
    <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/game">Game</a>
    </nav>
</header>