<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/css/game.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1>Play the Game</h1>
    <div id="game-container">
        <p>Game content here...</p>
        <button id="startGame">Start Game</button>
        <div id="gameResult"></div>
    </div>
    <script src="/js/game.js"></script>
    <%- include('partials/footer') %>
</body>
</html>